[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
python-dotenv = "~=0.19"
requests = "~=2.27"
Django = "~=4.0"
Authlib = "~=1.0"

[dev-packages]

[requires]
python_version = "3.9"
